simplyBlue = #32A8CE

roboto(weight)
	font-family: 'Roboto', sans-serif
	font-weight: weight

underlineInput(color = lightgray, width = 1px)
	border: 0px color solid;
	background-color: transparent;
	outline: none;
	border-bottom-width: width;

.noFontSmoothing
	-webkit-font-smoothing: initial
	-moz-osx-font-smoothing: initial

.unselectable
	user-select: none
	cursor: default

.largeTextOptimize
	text-rendering: optimizeLegibility !important

.robotoThin
	roboto(100)

.robotoHeader
	text-rendering: optimizeLegibility !important
	roboto(300)
	font-size: 40px

.smoothScroll
	+mobile()
		overflow-y: scroll
		-webkit-overflow-scrolling: touch

img
	pointer-events: none

html
	height: 100%

body
	height: 100%

	overflow-x: hidden
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	-webkit-tap-highlight-color: transparent

	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

	-webkit-backface-visibility: initial

	-webkit-overflow-scrolling: auto

button.btn-trans
	background-color: transparent
	color: white !important
	border-color: white !important
	border-radius: 0
	padding: 4px 35px
	font-family: 'Roboto', sans-serif
	font-weight: 100
	letter-spacing: 1px

button.btn-trans:hover
	background-color: rgba(0, 0, 0, 0.1)

button.btn-trans:active
	outline: none
	box-shadow: none

button.btn-trans:focus
	outline: none

.appNameHeader
	color: white

.appNameHeader:before
	content: "simply"
	roboto(100)
	opacity: .6

.appNameHeader:after
	content: "Homework"
	font-family: Arial, "Helvetica Neue", Helvetica, 'Roboto', sans-serif
	opacity: .5
	margin-left: 3px

.appNameHeaderBig
	@extend .largeTextOptimize
	color: white
	font-size: 40px

.appNameHeaderBig:before
	roboto(100)
	content: "simply"

.appNameHeaderBig:after
	content: "Homework"
	font-family: Arial, "Helvetica Neue", Helvetica, 'Roboto', sans-serif
	opacity: .7
	margin-left: 3px

.appNameHeader.black:before,
.appNameHeaderBig.black:before,
.appNameHeader.black:after,
.appNameHeaderBig.black:after {
	color: black
}

div.cookiesContainer
	background-color: rgba(0, 0, 0, .8)
	position: fixed
	bottom: -40px
	width: 100vw
	color: white
	z-index: 500
	padding-left: 15px
	visibility: hidden

div.modal
	overflow-y: auto
