@require "rupture"

simplyBlue = #32A8CE
rupture.mobile-cutoff = 800px

// Makes the current element have the roboto font with the given `weight`.
roboto(weight)
	font-family: 'Roboto', sans-serif
	font-weight: weight

// Makes the current input an underlineInput with the given `color` and `width`
// lighgray and 1px per default respectively.
underlineInput(color = lightgray, width = 1px)
	border: 0px color solid
	background-color: transparent
	outline: none
	border-bottom-width: width

// Block mixin for setting input placeholder options.
placeholder()
	input::-webkit-input-placeholder
		{block}
	input:-moz-placeholder
		{block}
	input::-moz-placeholder
		{block}
	input:-ms-input-placeholder
		{block}
