simplyBlue = #32A8CE

roboto(weight)
	font-family: 'Roboto', sans-serif
	font-weight: weight

underlineInput(color = lightgray, width = 1px)
	border: 0px color solid;
	background-color: transparent;
	outline: none;
	border-bottom-width: width;
