#logins
	width: 100%

	#description
		margin-bottom: 10px

	.login
		width: 100%
		padding: 15px
		margin-bottom: 10px
		border: 1px lightgray solid

		h3
			margin-top: 0

		.buttons
			margin-top: 5px

	.login.current
		background-color: #f3f3f3
