@require '../../utils'
@require "jeet"

//div.head1
//	col(8/12)
//
//div.head2
//	col(4/12)

div.projectInfoContainer
	padding-top: 5px
	padding-bottom: 5px
	margin-top: 15px
	center(100%)

div.projectInfoSubContainer
	width: 65%
	display: inline-block

span.projectInfoDescription
	width: 75%

div.projectInfoChatQuoteContainer
	margin-top: 15px
	margin-bottom: 15px
	float: right
	border: 1px lightgray solid
	padding: 10px
	cursor: pointer

	transition: all .1s ease-in-out

div.projectInfoChatQuoteContainer:hover
	background-color: lightgray

div.projectInfoChatQuoteContainer:active
	background-color: #C0C0C0 !important

img.lastChatSenderPicture
	border-radius: 55px
	border: 1px gray solid

span.lastChatSenderName
	position: absolute
	margin-top: 5px
	font-size: 20px
	margin-left: 3px
	font-weight: 300

span.lastChatSenderName:after
	color: #333
	content: ":"

span.lastChatMessage
	margin-top: 30px
	width: 137px
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis
	margin-right: 10px

span.lastChatHeader
	font-size: 30px
	margin-top: 5px

span#addPersonIcon, span#addFileIcon
	color: gray
	vertical-align: middle
	font-size: 20px
	position: absolute
	right: 25px
	top: 20px
	cursor: pointer
	opacity: .5

	transition: .1s opacity linear

span#addPersonIcon:hover, span#addFileIcon:hover
	opacity: 1

span.projectTitle
	absolute: left 40px right 35px
	overflow-x: hidden
	text-overflow: ellipsis

div.projectViewItemContainer
	div.itemContainerContent
		font-size: 35px

div.itemContainerSmallDivider
	center(85%)
	border: 0px lightgray solid
	border-bottom-width: 1px
	margin-top: -1px

div.fileRow, div.personRow
	cursor: pointer
	transition: all .1s ease-in-out
	padding-left: 10px
	overflow: hidden
	position: relative
	color: #000
	white-space: nowrap

div.personRow
	rowHeight = 60px
	height: rowHeight

	.removePersonButton
		line-height: rowHeight

img.personImage
	border-left: 3px black solid
	absolute: top left bottom

img.personImage.online
	border-color: #2ECC40

img.personImage.inactive
	border-color: #FF851B

img.personImage.offline
	border-color: #FF4136

span.personName
	margin-left: 65px
	line-height: 60px
	color: #a4a4a4

span.removePersonButton, span.removeFileButton
	float: right
	margin-right: 15px
	opacity: 0
	pointer-events: initial
	font-weight: 300

	transition: opacity .1s ease-in-out

	+mobile()
		opacity: .4

div.fileRow:hover, div.personRow:hover
	background-color: lightgray

	span.removePersonButton, span.removeFileButton
		opacity: .4

.personSuggestionName
	margin-left: 15px

span#changeProjectIcon
	color: lightgray
	vertical-align: middle
	font-size: 20px
	cursor: pointer

	opacity: 0
	transition: 100ms opacity ease

div.projectHeader:hover span#changeProjectIcon
	opacity: 1

+mobile()
	span#changeProjectIcon
		opacity: 1 !important

+mobile()
	div.projectHeader
		stack()
		text-align: center

	div.head2.projectHeader
		text-align: center !important

	div.projectInfoSubContainer
		width: 100%

	span.projectInfoDescription
		width: 100%

	div.projectInfoChatQuoteContainer
		width: 100%

		span.lastChatHeader
			absolute: right 40px

	div.projectViewItemContainer
		height: initial !important

	div.itemContainerContent
		margin-top: 20px

	span.personName
		width: calc(100% - 110px)
		display: inline-block
		-o-text-overflow: ellipsis
		text-overflow: ellipsis
		overflow-x: hidden
		position: absolute
		margin-left: 10px
