@require '../../utils'
@require "jeet"

//div.head1
//	col(8/12)
//
//div.head2
//	col(4/12)

div.projectInfoContainer
	padding-top: 5px
	padding-bottom: 5px
	margin-top: 15px
	center(100%)

div.projectInfoSubContainer
	width: 65%
	display: inline-block

span.projectInfoDescription
	width: 75%

div#chatButton
	margin-top: 15px
	margin-bottom: 15px
	float: right
	border: 1px lightgray solid
	padding: 10px
	cursor: pointer

	transition: .1s background-color ease-in-out

	div#header
		font-size: 30px
		float: right
		margin-top: 5px

	img#senderPicture
		float: left
		margin: -10px
		margin-right: 5px
		border-right: 1px lightgray solid

	div#middle
		overflow: hidden
		width: 140px
		float: left
		margin-right: 10px
		line-height: 1.5

		span#senderName
			font-size: 20px
			font-weight: 300

		span#senderName:after
			color: #333
			content: ":"

		span#messageContent
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			display: block
			margin-top: -5px

	+mobile()
		width: 100%

		span#header
			absolute: right 40px

		div#middle
			width: calc(100% - 140px)

div#chatButton:hover
	background-color: lightgray

div#chatButton:active
	background-color: #C0C0C0 !important

span#addPersonIcon, span#addFileIcon
	color: gray
	font-size: 20px
	cursor: pointer
	opacity: .5

	transition: .1s opacity linear

	float: right
	line-height: 40px
	margin-right: 15px

span#addPersonIcon:hover, span#addFileIcon:hover
	opacity: 1

span.projectTitle
	absolute: left 40px right 35px
	overflow-x: hidden
	text-overflow: ellipsis

div.projectViewItemContainer > div
	padding: 0
	font-size: 35px

	a
		text-decoration: none !important

div.fileRow, div.personRow
	cursor: pointer
	transition: all .1s ease-in-out
	padding-left: 10px
	overflow: hidden
	position: relative
	color: #000
	white-space: nowrap

div.personRow
	rowHeight = 60px
	height: rowHeight
	font-weight: normal

	.removePersonButton
		line-height: rowHeight - 5

	img
		border-left: 3px black solid
		absolute: top left bottom

	img.online
		border-color: #2ECC40

	img.inactive
		border-color: #FF851B

	img.offline
		border-color: #FF4136

	span.name
		margin-left: 65px
		line-height: 60px

		+mobile()
			display: inline-block
			width: calc(100% - 110px)
			text-overflow: ellipsis
			overflow-x: hidden

span.removePersonButton, span.removeFileButton
	float: right
	margin-right: 15px
	opacity: 0
	pointer-events: initial
	font-weight: 300

	transition: opacity .1s ease-in-out

	+mobile()
		opacity: .4

div.fileRow:hover, div.personRow:hover
	background-color: lightgray

	span.removePersonButton, span.removeFileButton
		opacity: .4

.personSuggestion
	.picture
		border-radius: 50%
		border: 1px gray solid

	.name
		margin-left: 15px

span#changeProjectIcon
	color: lightgray
	vertical-align: middle
	font-size: 20px
	cursor: pointer

	opacity: 0
	transition: 100ms opacity ease

div.projectHeader:hover span#changeProjectIcon
	opacity: 1

+mobile()
	span#changeProjectIcon
		opacity: 1 !important

+mobile()
	div.projectHeader
		stack()
		text-align: center

	div.head2.projectHeader
		text-align: center !important

	div.projectInfoSubContainer
		width: 100%

	span.projectInfoDescription
		width: 100%

	div.chatButton
		width: 100%

		span.lastChatHeader
			absolute: right 40px

	div.projectViewItemContainer
		height: initial !important
