@require "jeet"
@require "../../../utils"

#grades
	position: relative
	font-size: 1.3em

	#end
		height: 55px
		background-color: hoverColor

		padSides = 20px
		padding: 10px
		padding-left: padSides
		padding-right: padSides

		font-size: 1.4em

		#label
			roboto(300)
			float: left
		#grade
			float: right

	#end.insufficient
		#grade
			margin-top: -2px
			border-bottom: 2px red solid

	#gradeGroupList
		/*
		fixed: top endGradeHeight left right bottom
		overflow-y: scroll
		-webkit-overflow-scrolling: touch
		*/

		.gradeGroup
			.name
				text-align: center
				font-size: 17px
				opacity: .6
				border-bottom: 1px lightgray solid
				line-height: .1em
				margin-top: 15px
				margin-bottom: 10px

				span
					background-color: #fff

					padding = 5px
					padding-left: padding
					padding-right: padding

			.gradeRow
				padSides = 20px
				padding: 5px
				padding-left: padSides
				padding-right: padSides

				height: 70px
				.description
					col(3/4, cycle: 2)
					white-space: nowrap
					overflow: hidden
					text-overflow: ellipsis
					span.none
						font-style: italic
						color: darkgray
				.grade
					col(1/4, cycle: 2)
					text-align: right
				.dateFilledIn
					col(1/2, cycle: 2)
					opacity: .7
				.weight
					col(1/2, cycle: 2)
					opacity: .7
					text-align: right

			.gradeRow.insufficient
				.grade
					color: red

		#notice
			padding-top: 30px
			padding-bottom: 30px

			text-align: center
