#page1 {
	background-color: #32a8ce;
	width: 100vw;
	height: 100vh;
}

#page2 {
	background-color: #32a8ce;
	width: 100vw;
	height: 100%;
	position: absolute;
	transition: all .25s;
}

.topShadow {
	-webkit-box-shadow: 0 -20px 150px 10px #000000;
	box-shadow: 0 -20px 150px 10px #000000;
}

.vCenter {
    position: fixed;
    left: 18%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -ms-transform: translate(0px, -250%);
}

.Center {
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.launchpageMoreInfoBottom {
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
	font-size: 150%;
	line-height: 115%;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
}

.about {
	width: 100%;
}

.center {
	text-align: center;
}

.card {
	margin-left: 2.5%;
	margin-top: 20px;
	margin-right: 2.5%;
	width: 20%;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #f9f9f9;
	float: left;
	color: #6d6d6d;
}

.card img {
	margin-left: 12.5%;
	margin-right: 12.5%;
	width: 75%;
	margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
	.card {
		width: 75% !important;
		margin-left: 12.5% !important;
		margin-right: 12.5% !important;
		float: none !important;
	}

	#page2 {
		height: auto;
		padding-bottom: 15px;
	}
}