@import "jeet"
@import "axis"
@import "../main"

noticeHeight = 50px

#app
	absolute: top left right bottom

body.bigNoticeOpen #app
	top: noticeHeight

#bigNotice
	absolute: left top right
	height: noticeHeight
	z-index: 300
	text-align: center

	#content
		display: inline-block
		cursor: pointer
		line-height: noticeHeight
		font-size: 20px

	#content:hover
		text-decoration: underline

	#dismissButton
		absolute: top bottom right 15px
		cursor: pointer
		font-weight: 300
		font-size: 40px
		line-height: 40px

#bigNotice.default
	textColor = white

	background-color: #2ECC40
	animation: bigNoticeDefaultAnimation 4s ease-in-out infinite

	#content
		color: textColor

	#dismissButton
		color: textColor

@keyframes bigNoticeDefaultAnimation {
	0% {
		background-color: #2ECC40
	}
	50% {
		background-color: #4AE25C
	}
	100% {
		background-color: #2ECC40
	}
}

#wrapper
	absolute: top left 200px right 50px bottom
	z-index: 100

	+mobile()
		left: 0
		right: 0

div.notification
	z-index: 98765
	fixed: top 15px right 60px
	position: fixed !important
	font-weight: normal !important
	max-width: 300px

	transform: translateY(-300px)
	opacity: 0

	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	cursor: default

	border-radius: 0 !important

	button
		margin: 3px

	div
		margin-bottom: -15px

	+mobile()
		right: 10px !important

body.chatSidebarOpen > div.notification
	right: 210px

div.notification:not(.ui-draggable-dragging)
	transition: all 1.5s ease-out-expo

div.notification.warning
	flash("warning")

div.notification.error
	flash("error")

div.notification.notice
	flash("notice")

div.notification.success
	flash("success")

div.notification.default
	notice(width = false, color = #f5f5f5)

div.notification.transformIn
	opacity: 1
	transform: translateY(0px)

// // Item Container
div.itemContainer
	width: 100%
	margin-top: 10px
	border: 1px lightgray solid
	padding-top: 25px
	min-height: 150px

	+mobile()
		height: initial !important

div.itemContainerHeader
	position: relative
	border-bottom: 1px lightgray solid

div.itemContainerContent
	@extend .smoothScroll

	text-rendering: optimizeLegibility
	roboto(600)

	position: relative
	height: calc(100% - 30px)
	overflow-y: auto

	a
		text-decoration: none !important
// \\ Item Container

+mobile()
	.chatSidebar, .sidebar
		display: none

	.snapjs-left .sidebar,
	.snapjs-right .chatSidebar {
		display: block
	}

div.classRemoveRow
	font-size: 15px

span#checkboxLabel
	font-weight: initial

.modal#settingsModal > .modal-dialog
	center(300px)

	.modal-title
		text-align: center

	button
		width: 100%

	button:not(:last-child)
		margin-bottom: 5px

#addProjectModal .modal-body
	h3:first-child
		margin-top: 0

	h3
		text-align: center
		text-rendering: optimizeLegibility

	.assignmentRow
		height: 40px
		line-height: 2

		.className
			col(1/8)

		.assignmentName
			col(1/1.6)

		button
			text-align: center !important
			col(1/4)

div.backdrop
	fixed: top bottom left right
	opacity: 0
	z-index: 998
	pointer-events: none

	background-color: #000

	transition: .5s opacity linear

div.backdrop.dimmed
	opacity: .6
	pointer-events: initial

body.shepherd-active > div.backdrop
	@extend div.backdrop.dimmed

body.shepherd-active > .shepherd-step
	z-index: 9999

.tour-current-active
	z-index: 9999
	position: relative
