.content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: white;
	overflow-x: hidden;
	overflow-y: auto;
}

div#adbar {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500;
	height: 90px;
	background-color: #282828;
	-webkit-transform: translateZ(0);
	backface-visibility: hidden;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
	background-color: white;

	padding: 0;

	border: 1px #a9a9a9 solid;
	border-top: none;
	width: 100%;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:first-child {
	padding-top: 13px;
}
.tt-suggestion:last-child {
	padding-bottom: 13px;
}

.tt-suggestion.tt-cursor {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead {
	display: block !important;
}
