.content {
	position: fixed;
	top: 0;
	bottom: 0;
	padding: 10px;
	background-color: white;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 100;
}

div#adbar {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500;
	height: 90px;
	background-color: #282828;
	-webkit-transform: translateZ(0);
	backface-visibility: hidden;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
	background-color: white;
	width: 468px;
	border: 1px lightgray solid;
	border-radius: 5px;
	padding: 10px;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
    margin-left: -10px;
    margin-right: -10px;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead {
	display: block !important;
}
