@import "jeet"
@import "axis"

div.notification
	z-index: 98765
	fixed: top 15px right 10px
	position: fixed !important
	font-weight: normal !important
	max-width: 300px

	transform: translateY(-300px)
	opacity: 0

	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	cursor: default

	button
		margin: 3px

	div
		margin-bottom: -15px

div.notification:not(.ui-draggable-dragging)
	transition: all 1.5s ease-out-expo

div.notification.warning
	flash("warning")

div.notification.error
	flash("error")

div.notification.notice
	flash("notice")
	
div.notification.success
	flash("success")

div.notification.default
	notice(width = false, color = #f5f5f5)

div.notification.transformIn
	opacity: 1
	transform: translateY(0px)

div.classRemoveRow
	font-size: 15px

span#checkboxLabel
	font-weight: initial
	
.modal#settingsModal > .modal-dialog
	center(300px)
	
	.modal-title
		text-align: center
		
	button
		width: 100%
		
	button:not(:last-child)
		margin-bottom: 5px
		
#addProjectModal .modal-body
	h3:first-child
		margin-top: 0

	h3
		text-align: center
		text-rendering: optimizeLegibility
		
	.assignmentRow
		height: 40px
		line-height: 2
		
		.className
			col(1/8)
			
		.assignmentName
			col(1/1.6)
			
		button
			text-align: center !important
			col(1/4)
	
#getMagisterClassesModalBody
	text-align: center
	
	div.modal-body
		scroll-y: auto
	
	#spinner
		height: 60px
	
#magisterClassesResult
	margin-top: 15px
	width: 100%
		
#magisterClassesResult > div
	width: 100%
	height: 30px
	margin-bottom: 7px

	i.fa-times
		opacity: .5
		transition: .25s opacity linear

		float: left
		margin-right: 10px
		margin-top: 3px
		
	i.fa-times:hover
		opacity: 1

	.twitter-typeahead
		display: initial !important

	.input-group-addon
		float: left
		display: inline-block
		margin-right: 10px
		height: 25px
		
		i
			margin-left: -8px
			margin-top: -3px

	div#classTitle
		text-transform: lowercase
		font-size: 15px
		float: left
		max-width: 300px
		white-space: nowrap
		
	input#method
		float: right
		width: auto
	
div.backdrop
	absolute: top bottom left right
	opacity: 0
	z-index: 998
	pointer-events: none

	background-color: #000

	transition: .5s opacity linear

div.backdrop.dimmed
	opacity: .6
	pointer-events: initial
	
body.shepherd-active > div
	filter: brightness(0.5)
		
body.shepherd-active > .shepherd-step
	z-index: 9999
	filter: none