@import "jeet"
@import "axis"

div.notification
	z-index: 98765
	fixed: top 15px right 10px
	position: fixed !important
	font-weight: normal !important
	max-width: 300px

	transform: translateY(-300px)
	opacity: 0

	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	cursor: default

	button
		margin: 3px

	div
		margin-bottom: -15px

div.notification:not(.ui-draggable-dragging)
	transition: all 1.5s ease-out-expo

div.notification.ui-draggable-dragging
	white-space: nowrap

div.notification.warning
	flash("warning")

div.notification.error
	flash("error")

div.notification.notice
	flash("notice")
	
div.notification.success
	flash("success")

div.notification.default
	notice(width = false, color = #f5f5f5)

div.notification.transformIn
	opacity: 1
	transform: translateY(0px)

div.classRemoveRow
	font-size: 15px

span#checkboxLabel
	font-weight: initial
	
#getMagisterClassesModalBody
	text-align: center
	
	div.modal-body
		scroll-y: auto
	
	#spinner
		height: 60px
	
#magisterClassesResult
	margin-top: 15px
	width: 100%
		
#magisterClassesResult > div
	width: 100%
	height: 30px
	margin-bottom: 7px

	i.fa-times
		opacity: .5
		transition: .25s opacity linear

		float: left
		margin-right: 10px
		margin-top: 3px
		
	i.fa-times:hover
		opacity: 1

	.input-group-addon
		float: left
		display: inline-block
		margin-right: 10px
		height: 25px

	div#classTitle
		font-size: 15px
		float: left
		
	input#method
		float: right