@require "../utils"

.selector
	width: 100%

.selector > *
	border: 2px black solid
	cursor: pointer
	pointer-events: all

	overflow: hidden

.selector > div
	col(1/4)
	height: 100%
	padding: 5px

.selector > .selected
	border-color: simplyBlue
	cursor: initial
