@require "../utils"

.sidebar
	background-color: #2d2d2d
	width: 200px
	height: 100%
	cursor: default

	a
		text-decoration: none !important
		outline: none !important

	div.profile
		width: 100%
		height: 75px
		overflow: hidden
		position: relative
		border-bottom: 1px gray solid

		div.back
			absolute: top -20px left -20px right -20px bottom -20px
			background-size: cover
			background-position: center center

			blur = blur(35px)
			filter: blur
			filter: url('/svg/sidebarProfileBackBlur.svg#blur')
			-webkit-filter: blur
			-moz-filter: blur
			-o-filter: blur
			-ms-filter: blur

			opacity: .8

			+mobile()
				filter: none
				-webkit-filter: none
				-moz-filter: none
				-o-filter: none
				-ms-filter: none
				opacity: .1

		img.picture
			border-radius: 50%
			border: 1px lightgray solid
			absolute: top 13px left 5px

		div.name
			absolute: top 17px left 65px
			overflow: hidden

			roboto(300)
			color: white
			font-size: 30px
			white-space: nowrap
			text-rendering: optimizeLegibility

	.subheader
		roboto(300)
		width: 100%
		padding-left: 10px
		margin-top: 10px
		font-size: 20px
		color: white

		border = 1px gray solid
		border-top: border
		border-bottom: border

		div
			opacity: .7

		+desktop()
			div
				opacity: .5
				transition: .1s opacity ease-in-out
				cursor: pointer

			div:hover
				opacity: 1

	div.sidebarButton
		padding-left: 10px
		margin-bottom: -5px

		color: #bfbfbf
		roboto(300)
		font-size: 30px
		-webkit-font-smoothing: antialiased

		transition: .1s color linear

	div.sidebarButton.selected
		color: white

	.classList
		overflow-y: auto
		overflow-x: hidden
		width: 200px
		height: calc(100% - 260px)
		position: relative

		div.sidebarClass
			div.classColorBar
				float: left;
				margin-left: -10px;

				height: 37px
				border-left: 1px black solid

			span
				white-space: nowrap

	.footer
		margin-bottom: 2px
		width: 200px
		absolute: bottom

		.appNameHeader
			absolute: bottom right
			margin-bottom: 3px
			margin-right: 6px

		.appNameHeader:before
			margin-right: -2px

		.settings
			background-image: url("images/ic_action_settings.png")
			width: 25px
			height: 25px
			background-repeat: no-repeat
			background-size: contain
			absolute: left bottom -2px
			opacity: .6

		+mobile()
			.settings
				width: 30px
				height: 30px

body.ie div.sidebarProfileBack
	filter: none !important
	-o-filter: none !important
	opacity: .1 !important
