@require "../utils"
@require "jeet"

div.help
	max-width: 700px
	margin-left: auto
	margin-right: auto

	div.searchContainer
		roboto(300)
		text-align: center
		min-height: 300px

		h1
			font-weight: 100
			font-size: 50px

		div.searchBar
			position: relative

			i.fa.fa-search
				position: absolute
				margin-top: 15px
				font-size: 15px

			input#helpKeywordSearch
				underlineInput()

				font-size: 30px
				padding-left: 25px
				width: 600px
				max-width: calc(100vw - 50px)

	div.hotContainer > div
		col(1/2)
