textarea.answerInput
	border: 0
	-moz-box-sizing: border-box
	box-sizing: border-box
	color: #333
	outline: none
	overflow: hidden
	padding: 30px
	resize: none
	width: 95%
	font-size: 75px
	height: 75vh
	text-align: center

	center()

h1.questionHeader
	font-size: 100px
	color: gray
	text-align: center