@require "../../utils"
@require "jeet"

div.head1
	span(8/12)
	float: left

div.head2
	span(4/12)

div.divider
	border: 0px lightgray solid
	border-bottom-width: 1px
	margin-left: -15px
	margin-right: -15px

div.overviewImportantContainer
	min-height: 150px
	margin-top: 10px
	position: relative
	overflow: hidden

	border: 1px lightgray solid

	div.overviewTimeIndicator
		span(1/5)

		font-weight: 100
		font-size: 60px
		text-align: center

		span
			font-weight: 300

		+mobile()
			stack()
	div.overviewTimeIndicator.wide
		width: 40%

		+mobile()
			stack()

	div.overviewClassLocation
		span(1/5)
		margin-top: 12px

		font-size: 40px
		font-weight: 100
		text-align: center

		+mobile()
			stack()

	div.overviewClassDescription
		span(3/5)
		margin-top: 11px

		font-size: 40px
		font-weight: 300

		text-overflow: ellipsis
		overflow-x: hidden
		white-space: nowrap

		+mobile()
			stack()
			text-align: center

	div.overviewPersons
		absolute: right 0 left 20% bottom 0
		height: 70px
		overflow: hidden

		img
			border-radius: 50%
			margin-bottom: 10px
			pointer-events: initial

		+mobile()
			display: none

div.infoNextDayHeader
	width: 100%
	text-align: center
	font-size: 50px
	font-weight: 100
	margin-top: -5px

div.tasks
	font-size: 40px
	font-weight: 300

.itemContainerHeader
	font-size: 40px
	text-align: center
	position: absolute
	width: 100%
	display: inline-table
	margin-top: -50px

span#addProjectIcon
	color: gray
	vertical-align: middle
	font-size: 20px
	position: absolute
	right: 25px
	top: 20px
	cursor: pointer
	opacity: .5

	transition: .1s opacity linear

span#addProjectIcon:hover
	opacity: 1

div.projectRow
	padding-left: 10px
	overflow: hidden
	position: relative

	color: black

	white-space: nowrap
	text-overflow: ellipsis
	font-size: 18px
	roboto(300)

	div.projectRowBorder
		transition: .1s all linear

		absolute: top bottom left
		width: 1px
		overflow: hidden

		background-color: #2ECC40

		span
			opacity: 0
			transition: .1 opacity linear

			color: white
			padding-left: 25px
			font-size: 25px
			line-height: 2

	span
		font-size: 35px
		font-weight: 600

div.projectRow:hover > div.projectRowBorder
	width: 5px

div.projectRowBorder:hover
	width: 100% !important
	span
		opacity: 1 !important

div.taskRow
	margin-left: 5px
	margin-top: 10px

+mobile()
	.overviewHeader
		font-size: 30px !important
