@require "../../utils"

div.projectRow
	padding-left: 10px
	overflow: hidden
	position: relative

	color: black

	white-space: nowrap
	text-overflow: ellipsis
	font-size: 18px
	roboto(300)

	div.projectRowBorder
		transition: .1s all linear

		absolute: top bottom left
		width: 1px
		overflow: hidden

		background-color: #2ECC40

		span
			transition: .1s opacity linear

			color: white
			padding-left: 25px
			font-size: 25px
			line-height: 2

	span
		font-size: 35px
		font-weight: normal

div.projectRow:hover > div.projectRowBorder
	width: 5px

div.projectRowBorder:hover
	width: 100% !important
