@import "../../main"
@import "jeet"

div.head1
	span(8/12)
	float: left

div.head2
	span(4/12)

div.divider
	border: 0px lightgray solid
	border-bottom-width: 1px
	margin-left: -15px
	margin-right: -15px

div.overviewImportantContainer
	margin-top: 10px

	border: 1px lightgray solid
	border-radius: 5px
	height: 150px

	div.overviewTimeIndicator
		font-weight: 100
		font-size: 60px
		margin-left: 15px
		display: inline-block
		
	div.overviewClassDescription
		font-size: 40px
		font-weight: 300
		margin-left: 25px
		display: inline-block
		position: absolute
		margin-top: 14px
		width: 100%
		
	div.overviewPersons
		absolute: right 25px left 20% top 150px
		
		img
			border-radius: 50%
			margin-bottom: 10px
			pointer-events: initial

div.infoNextDayHeader
	width: 100%
	text-align: center
	font-size: 50px
	font-weight: 100
	margin-top: -5px

div.tasks
	font-size: 40px
	font-weight: 300

div.overviewItemContainer
	width: 100%
	margin-top: 10px
	border: 1px lightgray solid
	border-radius: 15px
	padding-top: 50px

div.itemContainerDivider
	display: inline-table
	//width: 100%
	width: calc(100% - 31px)
	border: 0px lightgray solid
	border-top-width: 1px
	position: absolute
	top: 65px

div.itemContainerContent
	margin-top: 10px
	height: 95%
	overflow-y: auto
	min-height: 50px
	text-rendering: optimizeLegibility
	roboto(600)
	
	a
		text-decoration: none !important

.overviewItemContainerHeader
	font-size: 40px
	text-align: center
	position: absolute
	width: 100%
	display: inline-table
	margin-top: -50px

span#addProjectIcon
	color: gray
	vertical-align: middle
	font-size: 20px
	position: absolute
	//right: 20px
	right: 51px
	top: 20px
	cursor: pointer
	opacity: .5
	-moz-padding-end: 30px

div.projectRow
	transition: all .1s ease-in-out
	padding-left: 10px
	color: black
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden
	font-size: 35px
	
	span
		font-size: 50%
		roboto(300)
	
div.projectRow:hover
	background-color: lightgray

div.taskRow
	margin-left: 5px
	margin-top: 10px

+mobile()
	.overviewHeader
		font-size: 30px !important

	div.overviewItemContainer
		height: initial !important