div.addAppointmentForm
	fixed: left 50% top 15px
	width: 300px
	margin-left: -120px // -150px for center on viewport's width, however it looks nicer centered on div.content imo.
	padding: 15px
	z-index: 999

	background-color: white
	border: 1px lightgray solid

	transform: translateY(-300px)
	transition: all 1.5s ease-out-expo

	// border-radius: 10px
	// box-shadow: 0 0 1px 1px #32A8CE

	border: 1px solid rgba(0, 0, 0, .2)
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5)

	textarea
		width: 100%
		max-width: 100%
		max-height: 300px

	button
		margin-top: 15px

	button.close
		margin-top: -15px
		margin-bottom: 5px
		font-size: 25px

div.addAppointmentForm.transformIn
	transform: translateY(0px)

div.fc-right button
	padding: 0 .6em !important

.fc-event
	border-radius: 0px
	border: none
	padding: 1px
	cursor: pointer

.fc-event.opaque
	opacity: .7

.fc-event.own
	left: 0% !important
	right: 50% !important
	margin-right: 0 !important

.fc-event.other
	left: 50% !important
	right: 0% !important
	margin-left: 0 !important

div.eventInfo
	background-color: cyan
	width: 150px
	height: 100px
	position: absolute

div.popover
	z-index: 999 !important
	max-width: 150px !important
	width: auto !important
