@require "jeet"

#calendarItemDetails
	div#scrapped
		margin-left: -15px
		margin-right: -15px
		margin-bottom: 10px
		margin-top: -10px

		padding: 5px
		padding-left: 15px
		padding-right: 15px

		border-bottom: 1px #E5E5E5 solid

		text-align: center
		font-size: 15px
		text-transform: uppercase
		font-weight: bold
		letter-spacing: .1em

	.row
		width: 100%
		margin: 0
		margin-bottom: 10px
		font-size: 15px

		div:nth-child(1)
			col(.30)
			font-weight: bold

		div:nth-child(2)
			col(.70)

			span.unpermitted
				color: red

	.row:last-child
		margin-bottom: 0

	#contentRow
		div:nth-child(2)
			white-space: pre-wrap

		div:nth-child(2):before,
		div:nth-child(2):after
			display: none

	#peopleCarousel
		white-space: nowrap
		overflow-x: auto
		margin-bottom: 5px

		a
			text-decoration: none !important

		img
			size = 30px
			height: size
			width: size
			border-radius: 50%
			pointer-events: all
