div.addAppointmentForm
	fixed: left 50% top 15px
	width: 300px
	margin-left: -120px // -150px for center on viewport's width, however it looks nicer centered on div.content imo.
	padding: 15px
	z-index: 999

	background-color: white
	border: 1px lightgray solid

	transform: translateY(-300px)
	transition: all 1.5s ease-out-expo

	// border-radius: 10px
	// box-shadow: 0 0 1px 1px #32A8CE

	border: 1px solid rgba(0, 0, 0, .2)
	border-radius: 6px
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5)

	textarea
		width: 100%
		max-width: 100%
		max-height: 300px

	button
		margin-top: 15px

	button.close
		margin-top: -15px
		margin-bottom: 5px
		font-size: 25px

div.addAppointmentForm.transformIn
	transform: translateY(0px)

div.backdrop
	absolute: top bottom left right
	opacity: 0
	z-index: 998
	pointer-events: none

	background-color: #000

	transition: .5s opacity linear

div.backdrop.dimmed
	opacity: .6
	pointer-events: initial

button.fc-corner-left:not(.fc-today-button)
	border-radius: 0px
	-webkit-border-top-left-radius: 4px
	-webkit-border-bottom-left-radius: 4px
	-moz-border-radius-topleft: 4px
	-moz-border-radius-bottomleft: 4px
	border-top-left-radius: 4px
	border-bottom-left-radius: 4px

button.fc-corner-right:not(.fc-today-button)
	border-radius: 0px
	-webkit-border-top-right-radius: 4px
	-webkit-border-bottom-right-radius: 4px
	-moz-border-radius-topright: 4px
	-moz-border-radius-bottomright: 4px
	border-top-right-radius: 4px
	border-bottom-right-radius: 4px

.fc-event
	border-radius: 0px
	border: none
	padding: 1px

div.eventInfo
	background-color: cyan
	width: 150px
	height: 100px
	position: absolute

div.popover
	z-index: 999 !important
	max-width: 150px !important
	width: auto !important