@require "jeet"
@require "axis"
@require "../../utils"

leftWidth = 52px
rowMinHeight = 45px
#eventDetailsTooltip
	absolute: left top
	width: 300px
	z-index: 199

	font-size: 15px
	background-color: white

	border: 1px black solid

	.className
		background-color: black
		height: 28px

		padding = 10px
		padding-left: padding
		padding-right: padding
		overflow: hidden

		color: white
		font-size: 20px
		text-align: center
		text-overflow: ellipsis
		white-space: nowrap

	.tooltipRow
		position: relative
		min-height: rowMinHeight
		border-bottom: 1px lightgray solid
		overflow: hidden
		padding-left: leftWidth + 5px

		.left
			absolute: top left bottom
			width: leftWidth
			padding: 5px
			font-size: 25px
			border-right: 1px lightgray solid
			text-align: center

	.tooltipRow.nomin
		min-height: initial

	.timeRow
		.timeRange
			line-height: rowMinHeight
