@require "../../utils"

div#trainer
	div#buttonsBar
		font-size: 20px
		roboto(100)

		button[type="button"]
			border: 1px lightgray solid
			border-radius: 3px

	div#question
		roboto(100)
		text-align: center
		font-size: 45px
		color: lightgray

	input#answer
		border: none
		roboto(100)
