@require "../../utils"
@require "rupture"

sidebarWidth = 250px
borderColor = lightgray
headerHeight = 50px
sidebarItemHeight = 40px

#messages
	#messagesSidebar
		absolute: top left right
		width: sidebarWidth
		height: 100%
		background-color: #fff
		border-right: 1px borderColor solid

		+below(800px)
			width: 100%
			border: 0

		a
			text-decoration: none !important
			outline: none !important

		.header
			height: headerHeight
			background-color: hoverColor
			border-bottom: 1px #d3d3d3 solid

			text-align: center
			font-size: 20px
			line-height: headerHeight

			+below(800px)
				display: none

		.item
			height: sidebarItemHeight
			padding-left: 10px
			border-bottom: 1px #DCDCDC solid

			line-height: sidebarItemHeight
			color: #000 !important
			font-size: 15px

			transition: .1s background-color linear

		.item:after
			content: ">"
			float: right
			padding-right: 10px
			color: #A9A9A9

		.item.current
			background-color: #E8E8E8

		#compose
			absolute: left bottom right
			background-color: composeColor
			border: 0
			color: #000
			text-align: center
			height: sidebarItemHeight
			line-height: sidebarItemHeight
			cursor: pointer

			border-top: 1px lightgray solid

		#compose:hover
			background-color: lightgray

	.page
		padding = 15px

		absolute: top left sidebarWidth right bottom
		background-color: #fff
		z-index: 10

		+below(800px)
			left: 0

		.header
			absolute: top left right

			height: headerHeight
			padding-left: padding

			font-size: 30px
			background-color: #DEDEDE
			line-height: headerHeight

			#name
				width: calc(100% - 40px)
				white-space: nowrap
				text-overflow: ellipsis
				overflow: hidden
				display: inline-block

			#closeButton
				float: right
				margin-top: -3px
				font-size: 35px
				margin-right: 15px

				cursor: pointer

				display: none
				+below(800px)
					display: block

			#closeButton.desktop-too
				display: block

			+below(800px)
				height: 35px
				line-height: 35px
				font-size: 20px

		.pageContent
			absolute: top headerHeight left right bottom
			overflow-x: hidden
			overflow-y: scroll
			padding-top: 10px

			padding-left: padding
			padding-right: padding

			+below(800px)
				top: 35px

#messageList
	padding: 0 !important

	.message
		font-size: 30px

		padding = 15px

		cursor: pointer

		min-height: 75px
		padding-left: padding
		padding-right: padding
		overflow: hidden

		border-bottom: 1px lightgray solid

		span.dim
			opacity: .7

		header
			margin-top: 7px
			margin-bottom: 8px

			roboto(300)
			font-size: 100%
			line-height: 35px

		.sender, .recipients
			font-size: 47%
		.sender
			float: left
		.recipients
			float: right

		+mobile()
			header
				font-size: 80%
				line-height: initial
				margin-top: 0
				margin-bottom: 0

			.sender, .recipients
				float: none

	.message:hover
		background-color: hoverColor

	.loadMore
		padding: 5px
		height: 75px

		roboto(300)
		text-align: center
		font-size: 25px

		cursor: pointer

#full_message
	padding: 15px
	padding-top: 0px

	header
		roboto(300)
		font-size: 30px

	.dim
		opacity: .7

	.body
		white-space: pre-line
		border-top: 1px lightgray solid
		margin-top: 5px

		pointer-events: all
		user-select: initial
		cursor: initial

#compose_message
	input, textarea
		padding: 5px
		font-size: 15px
		outline: none

	input
		width: 100%
		border: 0
		border-bottom: 1px lightgray solid

	textarea
		absolute: top 64px left right bottom
		border: 0
		resize: none
		width: 100%

	#send
		absolute: top right
		height: 31px
		border: 0
		background-color: white
		border-left: 1px lightgray solid

		outline: none !important

	#send:hover
		background-color: hoverColor
