div#cookiesContainer
	fixed: bottom left right
	transform: translateY(100px)

	background-color: rgba(0, 0, 0, .8)
	padding-left: 15px
	z-index: 500

	color: white

	transition: .5s transform ease-out-expo

	div
		line-height: 40px
		width: calc(100% - 75px)

	button
		absolute: right 15px top 3px

div#cookiesContainer.visible
	transform: none
