@require "jeet"
@require "../../utils"

.overviewHeader#classHeader
	width: calc(100% - 120px)
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden

span#changeClassIcon
	color: lightgray
	vertical-align: middle
	font-size: 20px
	cursor: pointer

	opacity: 0
	transition: 100ms opacity ease

.overviewHeader#classHeader:hover span#changeClassIcon
	opacity: 1

+mobile()
	.overviewHeader
		font-size: 30px !important

		span#changeClassIcon
			opacity: 1 !important

button#deleteClassButton
	col(10/12)
	shift(2/12)
	float: initial
	text-align: center

	+mobile()
		shift()
		col()
		width: 100%
		float: initial

div.gradeInfoContainer
	margin-top: 10px
	border: 1px lightgray solid
	border-radius: 5px
	height: 175px
	position: relative

	div.gradeContainer
		span(1/3)
		height: 100%
		overflow-x: hidden
		overflow-y: auto
		position: relative
		border-right: 1px lightgray solid

		div.gradeGroup
			div.gradeGroupName
				text-align: center
				font-size: 17px
				opacity: .6
				border-bottom: 1px lightgray solid
				line-height: .1em
				margin-top: 15px
				margin-bottom: 10px

				span
					background-color: #fff

					padding = 5px
					padding-left: padding
					padding-right: padding

			div.gradeRow
				width: 100%
				font-size: 40px
				height: 58px
				padding: 5px
				line-height: 1.2

				cursor: pointer
				transition: .1s background-color linear

				roboto(100)

				span#weight
					font-size: 20px
					position: relative
					top: -0.8em

			div.gradeRow:hover
				background-color: lightgray

			div.gradeRow.selected
				cursor: default
				background-color: #ECECEC

			div.gradeRow.insufficient > span#grade
				color: red
				font-weight: 300

	div.gradeContainerGradeDetail
		span(1/3)
		height: 100%
		overflow: hidden
		overflow-y: auto
		padding-left: 5px

		div.gradeSquare
			height: 75px
			width: 75px
			margin-top: 0
			margin-left: -5px

			roboto(600)
			font-size: 40px
			text-align: center
			padding-top: 7px

			border: 1px lightgray solid
			border-bottom-right-radius: 15%

			border-radius: 15%
			border-top: none
			border-left: none
			border-bottom-left-radius: 0
			border-top-left-radius: 0
			border-top-right-radius: 0

			float: left

			+mobile()
				display: block
				center(75px)

				border-left: 1px lightgray solid
				border-bottom-left-radius: 15%

		div.gradeSquare.insufficient
			color: white
			background-color: #FF4136

		div.gradeInfoRow
			vertical-align: top
			overflow: hidden

			white-space: nowrap
			text-overflow: ellipsis

			line-height: 1.5
			margin-left: -4px
			padding-left: 4px

			border-bottom: 1px lightgray solid

			div
				display: inline-block
				font-weight: bold
				padding-right: 5px
				border-right: 1px lightgray solid

			+mobile()
				width: 100%

		+above(760px)
			div.gradeInfoRow:nth-child(5)
				margin-top: 6px

	div.gradeContainerEndGrade
		span(1/3)
		height: 100%
		overflow: hidden
		position: relative
		border-right: 1px lightgray solid

		div.gradeSquare
			height: 100px
			center(100px)

			roboto(600)
			font-size: 60px
			text-align: center
			padding-top: 7px

			border: 1px lightgray solid
			border-bottom-right-radius: 15%

			border-radius: 15%
			border-top: none
			border-top-left-radius: 0
			border-top-right-radius: 0

		div.gradeSquare.insufficient
			color: white
			background-color: #FF4136

		div.endGradeHint
			width: 100%
			text-align: center
			roboto(100)
			font-size: 35px

			absolute: bottom 15px

div.studyGuides
	height: calc(100vh - 365px)

	div.studyGuide
		div.studyGuideName
			roboto(300)
			text-transform: uppercase
			text-align: center
			font-size: 17px
			border-bottom: 1px lightgray solid
			line-height: .1em
			margin-bottom: 10px
			margin-left: -10px
			margin-right: -10px

			span
				background-color: #fff

				padding = 5px
				padding-left: padding
				padding-right: padding

		padding: 10px
		min-height: 50px
		color: black

		div.studyGuidePart
			roboto(300)
			min-height: 30px
			margin-bottom: 5px

			div.studyGuidePartDescription
				margin-left: 7px
				margin-bottom: 5px

			div.studyGuidePartFile
				margin-left: 20px

div.digitalSchoolUtilities
	height: calc(100vh - 365px)

	div.digitalSchoolUtility
		padding-left: 10px

		font-size: 15px
		font-weight: 300
		color: black

	div.digitalSchoolUtility:hover
		background-color: lightgray
