@require "jeet"
@require "../../utils"

.row.classHeader
	margin-left: -25px
	margin-right: -25px
	padding-left: 10px !important
	padding-right: 10px !important

	height: 75px
	line-height: 75px

	border-bottom: 1px lightgray solid

.overviewHeader#classHeader
	width: calc(100% - 120px)
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden

span#changeClassIcon
	vertical-align: middle
	font-size: 20px
	cursor: pointer

	opacity: 0
	transition: 100ms opacity ease

.overviewHeader#classHeader:hover span#changeClassIcon
	opacity: 1

+mobile()
	.overviewHeader
		font-size: 30px !important

		span#changeClassIcon
			opacity: 1 !important

button#hideClassButton
	col(10/12)
	shift(2/12)
	float: initial
	text-align: center !important

	+mobile()
		shift()
		col()
		width: 100%
		float: initial

div.studyGuides
	height: calc(100vh - 365px)

	div.studyGuide
		div.studyGuideName
			roboto(300)
			text-transform: uppercase
			text-align: center
			font-size: 17px
			border-bottom: 1px lightgray solid
			line-height: .1em
			margin-bottom: 10px
			margin-left: -10px
			margin-right: -10px

			span
				background-color: #fff

				padding = 5px
				padding-left: padding
				padding-right: padding

		padding: 10px
		min-height: 50px
		color: black

		div.studyGuidePart
			roboto(300)
			min-height: 30px
			margin-bottom: 5px

			div.studyGuidePartDescription
				margin-left: 7px
				margin-bottom: 5px

			div.studyGuidePartFile
				margin-left: 20px

div.digitalSchoolUtilities
	height: calc(100vh - 365px)

	div.digitalSchoolUtility
		padding-left: 10px

		font-size: 15px
		font-weight: 300
		color: black

	div.digitalSchoolUtility:hover
		background-color: lightgray

.classViewContainer
	rowPadding = 25px

	#searchBar
		absolute: top 37px right 50px
		transform: translateY(-50%)
		width: 400px

		input
			border: none
			background-color: transparent
		+placeholder()
			opacity: .5

		+mobile()
			position: relative
			top: initial
			right: initial
			width: 100vw
			transform: none

			border-bottom: 1px lightgray solid

	+desktop()
		#searchBar.black
			color: #000
			input
				color: #000
			input:focus
				background-color: rgba(0, 0, 0, 0.05) !important
			+placeholder()
				color: #000
		#searchBar.white
			color: #fff
			input
				color: #fff
			input:focus
				background-color: rgba(255, 255, 255, 0.05) !important
			+placeholder()
				color: #fff

	#banner
		padding: 5px

		margin-left: -(rowPadding)
		margin-right: -(rowPadding)

		background-color: simplyBlue

		color: white
		text-align: center
		font-size: 20px

		#closeButton
			margin-right: 15px
			float: right
			font-size: 30px
			margin-top: -3px

		+mobile()
			font-size: 17px

	#banner.clickable
		cursor: pointer
	#banner.clickable:hover
		text-decoration: underline

	.row
		padding-left: rowPadding
		padding-right: rowPadding

		+mobile()
			padding: 10px

	#buttonsRow
		margin-top: 15px

		+mobile()
			margin-top: 0

	#buttonsRow > div
		col(1/5)
		position: relative
		border: 1px lightgray solid
		height: 75px
		text-align: center !important
		font-size: 20px
		cursor: pointer

		line-height: 1.55em
		padding: 5px

		strong
			font-weight: bold
			font-size: 1.8em

		+below(1305px)
			col(1/2, cycle: 2)
			margin-bottom: 5px

		+mobile()
			stack()
			width: 100% !important

	#buttonsRow > div:hover
		background-color: hoverColor

		+mobile()
			background-color: #fff

	#buttonsRow > div:last-child
		col(2/5)

		strong
			font-size: 1.6em

		+below(1305px)
			col(1/2, cycle: 2)

	#containersRow
		.itemContainer
			height: calc(100vh - 320px)
		.itemContainer:first-child
			col(3/5)
		.itemContainer:last-child
			col(2/5)

		#chatContainer > header
			position: relative
			cursor: pointer

			#lastChatMessage
				absolute: top right bottom left 90px
				font-size: 17px
				float: right
				overflow: hidden
				text-overflow: ellipsis

				#name
					absolute: top right 60px
					font-size: 1.2em

				#message
					absolute: bottom right 60px
					width: 100%
					white-space: nowrap
					overflow: hidden
					text-overflow: ellipsis
					text-align: right

				img
					float: right

		#chatContainer > header:hover
			background-color: hoverColor

		#chatContainer > div
			font-size: 20px
			cursor: pointer

			span
				margin-left: 10px

			.chatPersonRow
				background-color: #fff
			.chatPersonRow:hover
				background-color: hoverColor

	+mobile()
		#containersRow > div
			stack()
			width: 100% !important

#gradesButton.insufficient > strong
	color: red

#teacher-avatar
	border-radius: 50%
	background-color: #525252
	color: white
	text-transform: uppercase

	float: left
	width: 65px
	height: 65px
	font-size: 14px
	text-align: center
	line-height: 65px

modalPadding = 15px
.searchResult
	background-color: #fff

	color: black
	padding: 5px
	padding-left: modalPadding
	padding-right: modalPadding
	margin-left: -(modalPadding)
	margin-right: -(modalPadding)

	.title
		font-size: 16px
	.rating
		font-size: 15px
		opacity: .6

.searchResult.insufficient
	opacity: .5

.searchResult:hover
	background-color: hoverColor

#projectsModal
	#addProjectButton
		width: 100%

	#projects
		margin-top: 10px

		.projectRow
			cursor: pointer

			padding: 5px
			padding-left: modalPadding
			padding-right: modalPadding
			margin-left: -(modalPadding)
			margin-right: -(modalPadding)

			border-left: 3px black solid

			font-size: 23px

			.name
				font-size: 1em
			.deadline
				font-size: .7em

		.projectRow:hover
			background-color: hoverColor

#grades
	position: relative
	font-size: 1.3em

	#end
		height: 55px
		background-color: hoverColor

		padSides = 20px
		padding: 10px
		padding-left: padSides
		padding-right: padSides

		font-size: 1.4em

		#label
			roboto(300)
			float: left
		#grade
			float: right

	#end.insufficient
		#grade
			margin-top: -2px
			border-bottom: 2px red solid

	#gradeGroupList
		/*
		fixed: top endGradeHeight left right bottom
		overflow-y: scroll
		-webkit-overflow-scrolling: touch
		*/

		.gradeGroup
			.name
				text-align: center
				font-size: 17px
				opacity: .6
				border-bottom: 1px lightgray solid
				line-height: .1em
				margin-top: 15px
				margin-bottom: 10px

				span
					background-color: #fff

					padding = 5px
					padding-left: padding
					padding-right: padding

			.gradeRow
				padSides = 20px
				padding: 5px
				padding-left: padSides
				padding-right: padSides

				height: 70px
				.description
					col(3/4, cycle: 2)
					white-space: nowrap
					overflow: hidden
					text-overflow: ellipsis
					span.none
						font-style: italic
						color: darkgray
				.grade
					col(1/4, cycle: 2)
					text-align: right
				.dateFilledIn
					col(1/2, cycle: 2)
					opacity: .7
				.weight
					col(1/2, cycle: 2)
					opacity: .7
					text-align: right

			.gradeRow.insufficient
				.grade
					color: red

		#notice
			padding-top: 30px
			padding-bottom: 30px

			text-align: center
