<template name="externalServices">
	<div id="description">
		Login met elke site waarmee je wilt.
		Je kan met meerdere sites {{! (ook van dezelfde site) }}inloggen.
	</div>

	{{#each externalServices}}
		{{#if loginNeeded}}
			{{#if ready}}
				{{#if profileData}}
					{{> externalServiceResult}}
				{{else}}
					<div class="externalServiceButton">
						Inloggen met {{friendlyName}}
					</div>
				{{/if}}
			{{else}}
				<div class="externalServiceResult">
					{{> loading}}
				</div>
			{{/if}}
		{{/if}}
	{{else}}
		{{> loading}}
	{{/each}}
</template>

<template name="externalServiceResult">
	<div class="externalServiceResult">
		<h1>{{friendlyName}}</h1>

		<div id="center">
			{{#if profileData.error}}
				Fout tijdens het ophalen van jouw profielinformatie van {{friendlyName}}
			{{else}}
				{{#if profileData.picture}}
					<img src="{{profileData.picture}}" width="100" height="100" alt="profielfoto"/>
				{{/if}}

				{{! TODO: clean this markup up. }}
				<span>
					Ingelogd als {{profileData.nameInfo.firstName}}<br>
					{{#if profileData.courseInfo}}
						{{profileData.courseInfo.year}} {{toUpperCase profileData.courseInfo.schoolVariant}}<br>
					{{/if}}
					{{profileData.mainGroup}}
				</span>
			{{/if}}
		</div>

		<button type="button" class="btn btn-danger deleteButton">Uitloggen</button>
	</div>
</template>
