div.setup
	max-width: 650px
	margin-left: auto
	margin-right: auto
	padding-top: 15px

	animation: 2s fadeIn ease-out-expo

	pad = 45px
	padding-left: pad
	padding-right: pad

	div.header
		width: 100%
		roboto(300)
		font-size: 35px
		margin-bottom: 15px
		border-bottom: 1px #DFDFDF solid

	div.content
		font-size: 15px

	div.footer
		text-align: right
		width: 100%
		border-top: 1px #DFDFDF solid
		margin-top: 25px
		padding-top: 10px
