div.setup
	max-width: 650px
	margin-left: auto
	margin-right: auto
	padding-top: 15px

	animation: 2s fadeIn ease-out-expo

	pad = 45px
	padding-left: pad
	padding-right: pad

	button
		padding: 5px 25px
		border: 0
		border-radius: 0
		outline: none !important

	div.header
		width: 100%
		roboto(300)
		font-size: 35px
		margin-bottom: 15px
		border-bottom: 1px #DFDFDF solid

	div.content
		font-size: 15px

	div.footer
		text-align: right
		width: 100%
		border-top: 1px #DFDFDF solid
		margin-top: 25px
		padding-top: 10px

form.vertical.full-width
	div.group
		width: 100%
		margin-bottom: 15px

		label
			width: 100%
			font-size: 12px

		input[type="text"], input[type="password"], textarea
			width: 100%
			font-size: 15px
			border: 1px lightgray solid
			outline: none

			padding: .2em
			padding-left: .5em
			padding-right: .5em

		input:focus
			border-color: darkgray

	div.group.checkbox
		size = 15px

		input[type="checkbox"]:before
			display: block
			content: ""
			background-color: #FFFFFF

			width: size
			height: size
			margin-top: -2px

		input[type="checkbox"]:after
			display: block
			content: ""
			border: 1px #d3d3d3 solid

			width: size
			height: size

			margin-top: -13px
			margin-left: -1px

			padding: 2px
			background-clip: content-box
			background-color: white

			cursor: pointer

		input[type="checkbox"]:checked:after
			background-color: #337AB7

		span:first-child
			margin-left: 4px
