@require "../../utils"
@require "jeet"

.selector
	clearfix()
	width: 100%

.selector > *
	border: 2px black solid
	cursor: pointer
	pointer-events: all

	overflow: hidden

.selector > div
	height: 100%
	padding: 5px

	float: left
	width: auto

.selector > .selected
	border-color: simplyBlue
	cursor: default
