@import "../../main"

div.personInfo
	absolute: left top right
	transition: .25s background-color linear

	div
		display: inline-block
		padding-left: 10px
		color: white

	div.course
		absolute: bottom 50px
		roboto(100)
		font-size: 40px
		text-transform: uppercase

		b
			font-weight: 300

	div.name
		absolute: bottom

		roboto(300)
		font-size: 50px

	button
		absolute: bottom 15px right 15px
		font-size: 20px
		border-radius: 0

	+mobile()
		img.personPicture
			size = 100px
			height: size
			width: size

		div.course
			display: none

		div.name
			bottom: 55px
			font-size: 30px

		button
			margin-left: 10px
			bottom: 10px
			right: initial

div.personDetailsContainer
	margin-top: 250px

div.personSharedHours
	li
		list-style-type: none
