@import "../../main"
hoverBackground = rgba(0, 0, 0, .08)

div.personInfo
	absolute: left top right
	transition: .1s background-color linear

	div
		display: inline-block
		padding-left: 10px
		color: white

	div.course
		absolute: bottom 50px
		roboto(100)
		font-size: 40px
		text-transform: uppercase

		b
			font-weight: 300

	div.name
		absolute: bottom

		roboto(300)
		font-size: 50px

	div.buttons
		absolute: bottom 15px right 15px
		display: inline-block
		text-align: center

		i
			padding: 7px
			vertical-align: middle
			font-size: 17px
			margin-right: 10px
			opacity: .6
			cursor: pointer

		i:hover
			opacity: 1
			background-color: hoverBackground

			border: 1px white solid
			padding: 6px // border adds 1 px to padding.

		button
			font-size: 20px
			border-radius: 0

		button:hover
			color: white
			background-color: hoverBackground

	+mobile()
		img.personPicture
			size = 100px
			height: size
			width: size

		div.course
			display: none

		div.name
			bottom: 55px
			font-size: 30px

		div.buttons
			button
				margin-left: 10px
				bottom: 10px
				right: initial

div.personDetailsContainer
	margin-top: 250px

div.personSharedHours
	li
		list-style-type: none

div#reportUserModal div.modal-body
	text-align: center

	div#checkboxes
		text-align: initial

		span
			font-weight: normal
