@require '../utils'

#forgotPass
	text-align: center
	background-color: #C10C06
	height: 100vh

	img
		height: 70vh
		width: 65vh

	input
		font-size: 50px
		width: 100%
		color: white
		text-align: center
		margin-top: -50px
		underlineInput(darkred)
