div.privacy
	h1
		roboto(300)
		text-align: center
		padding-bottom: 10px
		border-bottom: 1px lightgray solid

	div // reset font-smoothing to be more readable, which is important in such an 'official' document as this. ;)
		-webkit-font-smoothing: initial
		-moz-osx-font-smoothing: initial

		padding: 50px
		padding-top: 0 !important

		+mobile()
			padding: 20px
