rowHeight = 30px

#settings_page_classes
	#classList
		max-width: 900px
		margin-left: auto
		margin-right: auto

		#description
			margin-bottom: 10px

		#notice
			opacity: .6
			text-align: center

		.classRow
			position: relative

			width: 100%
			height: rowHeight
			margin-bottom: 7px

			padding-right: 10px
			border-right: 2px black solid

			line-height: rowHeight
			font-size: 15px
			white-space: nowrap

			.fa
				cursor: pointer
				margin-right: 7px
				font-size: 20px
				opacity: .8
				vertical-align: middle

			a
				color: #333 !important

			.back
				position: absolute
				left: -999999px
				right: -999999px
				bottom: 0
				top: 0
				z-index: -1
				opacity: .07

		.classRow.hidden
			display: block !important
			opacity: .7

			.fa
				opacity: .7
