@import "../../main"
@import "jeet"

div.mobileCalendarTopBar
	font-size: 30px
	fixed: top 50px right 0 left 0
	height: 50px

	i#newAppointmentButton
		margin-right: 15px
		margin-top: 10px

	span.currentDate
		roboto(300)
		absolute: left 5px top 3px
		transition: .2s color linear
	span.currentDate.today
		color: darkred

div.mobileCalendar
	fixed: left 0 right 0 bottom 0 top 100px
	position: fixed !important // Seperate just so that we can apply `!important` to it.

	.hour
		width: 100%
		position: relative
		margin-bottom: 5px

		.hourIndicator
			line-height: 1.1
			position: relative
			height: 50px
			width: 50px
			background-color: #6AA4C1

			color: white
			font-size: 35px
			text-align: center
			display: inline-block

			.classTime
				absolute: top 40px
				font-size: 9px
				margin-bottom: 50px

		.hourIndicator.scrapped
			background-color: #9F9F9F

		.hourIndicator.homework
			background-color: #05cdf8

		.hourIndicator.quiz
			background-color: #FF851B

		.hourIndicator.test
			background-color: #FF4136

		.hourContent
			font-size: 20px
			absolute: top 20px left 60px
			white-space: nowrap

		.classLocation
			absolute: top 0 left 60px
			font-size: 15px
			opacity: .5

#swipeview-slider > div
	position: relative
	display: box
	box-orient: vertical
	box-pack: center
	box-align: center
	overflow: hidden

#swipeview-slider span
	position: absolute
	top: 0
	left: 0
	width: 100%
	padding: 20px 0
	display: block
	font-size: 20px
	text-align: center
	text-shadow: 0 1px 0 #000

	transition: .5s opacity linear
	opacity: 0

#descholder
	position: absolute
	top: 0
	left: 0
	width: 100%
	text-align: center
	display: block

#swipeview-slider .swipeview-active span
	opacity: 1
	transition: .5s opacity linear
